/* Some useful utility classes */

/**
 * FULL BLEED
 *
 * Add this class to an element to make it fill the width of the screen 
 * and sit horizontally central. Will burst wrapper elements.
 */
 .full-bleed {
    width: 100vw;
    margin-left: 50% !important;
    transform: translateX(-50%);
}

